section
  h3(id='app.VERB') app.VERB(path, [callback...], callback)

  p.
    Методы <code>app.МЕТОД()</code> обеспечивают маршрутизацию
    в Express; здесь <strong>МЕТОД</strong> - это любой HTTP-метод, например,
    <code>app.post()</code>. Можно задавать несколько коллбеков, все они расцениваются
    одинаково и ведут себя как прослойка, с одним лишь исключением, что
    эти коллбеки могут вызывать <code>next('маршрут')</code> для того, чтобы избежать вызова
    остальных коллбеков. Этот механизм можно использовать для выполнения предварительных проверок
    в обработчике маршрута с возможностью передачи управления на другой маршрут, если
    нет необходимости продолжать нормальную обработку.

  p.
    Следующий пример иллюстрирует самое простое определение маршрута. Express
    преобразует URL-строки в регулярные выражения,  которые потом используются внутри для сравнения входящих запросов.
    При таком сравнении параметры запросов не учитываются, например следующий маршрут
    будет срабатывать на оба запроса - и на "GET /", и на "GET /?name=вася".

  +js.
    app.get('/', function(req, res){
      res.send('здравствуй мир');
    });

  p.
    Можно также использовать регулярные выражения, особенно
    если у вас используются сложные ограниения, например следующее
    будет соответствовать запросам "GET /commits/71dbb9c" и "GET /commits/71dbb9c..4c084f9"

  +js.
    app.get(/^\/commits\/(\w+)(?:\.\.(\w+))?$/, function(req, res){
      var from = req.params[0];
      var to = req.params[1] || 'HEAD';
      res.send('диапазон коммитов ' + from + '..' + to);
    });

  p.
    Можно передавать несколько коллбеков, это полезно при повторном использовании прослоек,
    которые загружают ресурсы, выполняют валидацию, и т.д.

  +js.
    app.get('/user/:id', user.load, function(){
      // ... 
    })

  p.
    Эти коллбеки можно также передавать в виде массивов, эти массивы
    просто разворачиваются в плоский список:

  +js.
    var middleware = [loadForum, loadThread];
    
    app.get('/forum/:fid/thread/:tid', middleware, function(){
      // ...
    })
    
    app.post('/forum/:fid/thread/:tid', middleware, function(){
      // ...
    })
