section
  h3(id='app.get') app.get(name)

  p.
    Получить значение настройки <code>name</code>.

  +js.
    app.get('title');
    // => undefined

    app.set('title', 'Мой сайт');
    app.get('title');
    // => "Мой сайт"