!!! 5
html
  head
    title Express - guide
    include includes/head
  body.inner
    .bar
    section#content
      header
        include includes/logo
        active = '/guide.html'
        include includes/menu

      include includes/mixins
      include ru/guide/menu

      include ru/guide/index

    include includes/footer
