
mixin image(name)
  img(src='./images/apps/screenshots/#{name}.png')

mixin link(title, url)
  .link
    | Посетите
    a(href=url)= title

section.application
  h2 MySpace
  p.
    Не нуждается в представлении! Все знают MySpace,
    и новая версия https://new.myspace.com работает на Express.

  +link('MySpace', 'https://new.myspace.com/')
  +image('myspace')

section.application
  h2 LearnBoost
  p.
    LearnBoost - это бесплатный, простой
    инструмент для учебных заведений, включающий в себя журнал успеваемости,
    учебные планы, журнал посещаемости, отчётность, календари
    и прочее.

  +link('LearnBoost', 'https://www.learnboost.com/')
  +image('learnboost')

section.application
  h2 Storify
  p.
    Создавайте статьи, используя социальные медиа. Превратите то, что постят
    в социальных медиа в наглядные статьи. Собирайте и публикуйте фото, видео, твиты
    и другие вещи.

  +link('Storify', 'http://storify.com/')
  +image('storify')

section.application
  h2 Geekli.st
  p.
    Место, где компьютерные задроты делятся своими достижениями, достижениями своих товарищей,
    а также могут найти понимание крупных компаний и сообществ.

  +link('Geekli.st', 'http://geekli.st')
  +image('geeklist')

section.application
  h2 Klout
  p.
    Klout is the Standard for Influence. Join Klout to discover your
    influence and compare with others you may know.

  +link('Klout', 'http://klout.com')
  +image('klout')

section.application
  h2 Prismatic
  p.
    Prismatic обучается на основе ваших взаимодействий в социальных сетях,
    и показывает вам персонализированный контент и обсуждения.

  +link('Prismatic', 'http://getprismatic.com/')
  +image('prismatic')

section.application
  h2 Clipboard
  p.
    Clipboard - это мощный инструмент для того, чтобы сохранять интересные вам фрагменты
    из сети - не только статические картинки, но
    полнофункциональные фрагменты любых страниц.

  +link('Clipboard', 'http://clipboard.com/')
  +image('clipboard')

section.application
  h2 Persona
  p.
    Persona, или "BrowserID", - это решение для
    системы идентификации браузера от Mozilla.
    Многообещающая вещь.

  +link('Persona', 'https://login.persona.org/')
  +image('browserid')

section.application
  h2 Countly
  p.
    Серьёзный сервис аналитики для мобильных приложений.

  +link('Countly', 'https://count.ly/')
  +image('countly')

section.application
  h2 Balloons.io
  p.
    Красивый чат реального времени,
    сделанный на Express.

  +link('Balloons.io', 'http://balloons.io/')
  +image('balloon')

section.application
  h2 Segment.io
  p.
    Довольно замусоривать свои приложения различными поставщиками аналитики.
    Одна аккуратная настройка - и можно посылать данные на любую службу аналитики.

  +link('Segment.io', 'http://segment.io/')
  +image('segment')

section.application
  h2 Yummly
  p.
    Yummly - один из крупнейших поисковиков для рецептов.
    В одном месте собраны рецепты из всего интернета.

  +link('Yummly', 'http://yummly.com/')
  +image('yummly')

section.application
  h2 Koding
  p.
    Разработка софта в браузере в режиме реального времени с интегрированным
    редактором, общением, терминалом, и другими штуками.

  +link('Koding', 'http://koding.com/')
  +image('koding')

section.application
  h2 Apiary.io
  p.
    Новый взгляд на документирование REST API.

  +link('Apiary', 'http://apiary.io/')
  +image('apiary')

section.application
  h2 более того!
  p.
    Поисковик Shodan сообщает о более, чем <strong>26,000</strong> приложениях Express.
    Их тут, конечно, не перечислить, но если вы сочтёте своё приложение
    достойным упоминания здесь, откройте issue в
    <a href="https://github.com/visionmedia/expressjs.com/issues">github репозитории</a>.

  +image('more')
