#boxes.clearfix
  section#mailing-list
    h3 Список рассылки
    p.
      Присоединяйтесь к более чем 2000 пользователям Express или ищите
      информацию среди более чем 5000 обсуждений в <a href="https://groups.google.com/group/express-js">Группах Google</a>

  section#irc
    h3 IRC канал
    p.
      Сотни разработчиков каждый день тусуются в #express на freenode.
      Если будут вопросы о фреймворке, войдите в чат и получите
      ответы.

  section#examples
    h3 примеры
    p.
      Десятки <a href="https://github.com/visionmedia/express/tree/master/examples">Express-приложений</a>
      в репозитории. Тут есть всё - от дизайна API
      до интеграции шаблонизаторов.

  section#issues
    h3 Баг-трекер
    p.
      Если вы столкнулись с багом или просто захотели
      запилить новую фичу, <a href="https://github.com/visionmedia/express/issues">создайте тикет</a>.

  section#extending
    h3 Сторонние расширения
    p.
      Сообщество создало кучу расширений,
      <a href="https://github.com/senchalabs/connect/wiki">прослоек</a>
      и высокоуровневых фреймворков. Узнать больше можно в
      <a href="https://github.com/visionmedia/express/wiki">wiki</a>.

  section#2x
    h3 Документация по Express 2.x
    p.
      Ищете документацию для старой версии Express 2.x? Она <a href="http://jsman.ru/express/">здесь</a>.
