section
  h3(id='executable') Using express(1) to generate an app

  p.
    Express поставляется с исполняемым файлом <code>express(1)</code>.
    Если с помощью npm Express установлен глобально, эта команда будет доступна
    отовсюду:

  +js.
    $ npm install -g express

  p.
    Этот инструмент упрощает создание скелета приложения,
    но круг его задач узок. Например, он подерживает не так уж много шаблонизаторов,
    тогда как сам Express поддерживает вообще любые шаблонизаторы для node.
    Обязательно почитайте <code>--help</code>:

  +js.
  
    Usage: express [options]

    Options:

      -h, --help          показать эту справку
      -V, --version       показать номер версии
      -s, --sessions      добавить поддержку сессий
      -e, --ejs           использовать шаблонизатор ejs (по умолчанию используется jade)
      -J, --jshtml        использовать шаблонизатор jshtml (по умолчанию используется jade)
      -H, --hogan         использовать шаблонизатор hogan.js
      -c, --css <engine>  использовать CSS-движок <engine> (less|stylus) (по умолчанию используется простой CSS)
      -f, --force         выполнить принудительно, если директория непустая
  p.
    Если надо сгенерировать приложение с EJS, Stylus и поддержкой сессий,
    можно просто выполнить:

  +js.
    $ express --sessions --css stylus --ejs myapp

    create : myapp
    create : myapp/package.json
    create : myapp/app.js
    create : myapp/public
    create : myapp/public/javascripts
    create : myapp/public/images
    create : myapp/public/stylesheets
    create : myapp/public/stylesheets/style.styl
    create : myapp/routes
    create : myapp/routes/index.js
    create : myapp/views
    create : myapp/views/index.ejs

    install dependencies:
      $ cd myapp && npm install

    run the app:
      $ node app  

  p.
    Как для любого другого node-приложения, нам понадобится установить зависимости:

  +js.
    $ cd myapp
    $ npm install

  p.
   Запускаем!

  +js.
    $ node app

  p.
    Вот и всё, что необходимо для создания и запуска простейшего приложения. Не забывайте,
    что Express не привязан к какой-либо структуре директорий, это просто прототип, на который
    можно опираться в начале. Приложения различной структуры показаны
    в <a href="https://github.com/visionmedia/express/tree/master/examples">примерах</a>
    в github-репозитории.