ul#menu
  li: ul
    li: a(href='#intro') Начало работы
    li: a(href='#executable') Консольная команда express(1)
    li: a(href='#error-handling') Обработка ошибок
    li: a(href='#users-online') Подсчёт пользователей онлайн
    li: a(href='#proxies') Express через прокси
