section
  h3(id='proxies') Express через прокси

  p.
    Express можно использовать через реверс-прокси (Varnish или Nginx),
    и это просто, хотя и требует конфигурирования. Включите настройку "trust proxy"
    через <code>app.enable('trust proxy')</code>, чтобы Express знал, что
    он работает через прокси и заголовок <code>X-Forwarded-*</code>
    будет приниматься во внимания, а не расцениваться поддельным.

  p.
    Есть ещё несколько небольших эффектов, вызываемых включением этой настройки. Во-первых,
    через заголовок <code>X-Forwarded-Proto</code> прокси может сообщить
    приложению, протокол - HTTPS или HTTP. Это значение доступно через
    <a href="/ru-api#req.protocol">req.protocol</a>.

  p.
    Второе изменение - это то, что значения <a href="/ru-api#req.ip">req.ip</a>
    и <a href="/api#req.ips">req.ips</a> заполняются из
    списка адресов в <code>X-Forwarded-For</code>.