section
  h3(id='users-online') Подсчёт пользователей онлайн

  p.
    В этой секции описано небольшое приложение, подсчитывающее количество пользователей онлайн
    с помощью <a href="http://redis.io">Redis</a>. Прежде всего,
    создайте файл package.json со всеми зависимостями - одна для клиента Redis,
    другая - для Express. Далее, убедитесь, что Redis установлен
    и запущен с помощью <code>$ redis-server</code>.

  +js.
    {
      "name": "app",
      "version": "0.0.1",
      "dependencies": {
        "express": "3.x",
        "redis": "*"
      }
    }

  p.
    Теперь надо создать приложение и подключение к Redis:

  +js.
    var express = require('express');
    var redis = require('redis');
    var db = redis.createClient();
    var app = express();

  p.
    Дальше идёт прослойка для отслеживания пользователей онлайн. Будем использовать
    упорядоченные множества, чтобы можно было запросить у Redis
    онлайн пользователей за последние N миллисекунд. Для этого мы передаём
    отметку времени в качестве весового коэффициента элемента множества. Обратите внимание, что
    мы используем User-Agent вместо нормального ID пользователя.

  +js.
    app.use(function(req, res, next){
      var ua = req.headers['user-agent'];
      db.zadd('online', Date.now(), ua, next);
    });

  p.
    Следующая прослойка нужна для получения количества пользователей онлайн
    за последнюю минуту, используя <strong>zrevrangebyscore</strong>
    для выборки с <code>max = плюс-бесконечность</code>,
    так что мы всегда получаем наиболее актуальных пользователей, ограниченных
    <code>min = текушее время - 60000 миллисекунд</code>. (TODO: сделать литературнее, чем у автора)

  +js.
    app.use(function(req, res, next){
      var min = 60 * 1000;
      var ago = Date.now() - min;
      db.zrevrangebyscore('online', '+inf', ago, function(err, users){
        if (err) return next(err);
        req.online = users;
        next();
      });
    });

  p.
    Тепер можно повесить наше приложение на порт!
    Чтобы проверить результат, откройте приложение
    в нескольких браузерах и убедитесь, что счётчик увеличивается.
  
  +js.
    app.get('/', function(req, res){
      res.send(req.online.length + ' пользователей онлайн');
    });

    app.listen(3000);
