
include mixins

nav.clearfix
  +item('./ru-index.html') Главная
  +item('./ru-api.html') API
  +item('./ru-guide.html') Руководство
  +item('./ru-applications.html') Приложения
  +item('./ru-community.html') Сообщество
  +item('./ru-faq.html') FAQ

