section
  h3(id='app.engine') app.engine(ext, callback)

  p.
    Регистрирует данный шаблонизатор <code>callback</code> для файлов с расширением <code>ext</code>
    
    По умолчанию шаблонизатор реквайрится по имени, соответствующему
    расширению файла. Например, если попытаться отрендерить
    файл "foo.jade", Express внутри себя исполнит следующий код
    (и закеширует <code>require()</code> для ускорения при следующих
    вызовах):

  +js.
    app.engine('jade', require('jade').__express);

  p.
    Можно использовать этот метод для шаблонизаторов, не поддерживающих
    <code>.__express</code> "из коробки" или для расширений,
    отличных от имени шаблонизатора. Например, маппинг шаблонизатора EJS к
    ".html" файлам:
  
  +js.
    app.engine('html', require('ejs').renderFile);

  p.
    В данном случае у EJS есть метод <code>.renderFile()</code>,
    сигнатура которого соответствует тому, что ожидает Express: <code>(path, options, callback)</code>,
    хотя у этого метода есть и псевдоним <code>ejs.__express</code>,
    так что, его можно использовать и в автоматическом режиме для расширений ".ejs".

  p.
    Некоторые шаблонизаторы не следуют данному соглашению о вызове.
    Для того, чтобы выровнять API популярных шаблонизаторов для node,
    был придуман модуль <a href="https://github.com/visionmedia/consolidate.js">consolidate.js</a>
    позволяющий им следовать соглашению
    и прозрачно работать с Express.

  +js.
    var engines = require('consolidate');
    app.engine('haml', engines.haml);
    app.engine('html', engines.hogan);
