section
  h3(id='app.disable') app.disable(name)

  p.
    Установить настройку <code>name</code> в <code>false</code>.

  +js.
    app.disable('trust proxy');
    app.get('trust proxy');
    // => false