section
  h3(id='app.configure') app.configure([env], callback)

  p.
    Условно вызывает <code>callback</code> когда <code>env</code> равен <code>app.get('env')</code>,
    что равносильно, <code>process.env.NODE_ENV</code>. Этот метод оставлен из соображений обратной совместимости
    и полностью эквивалентен конструкции <code>if</code>, что показано в примере ниже. Эти функции не обязательно должны
    вызывать <code>app.set()</code> или другие методы конфигурации.

  +js.
    // все окружения
    app.configure(function(){
      app.set('title', 'My Application');
    })

    // только разработка
    app.configure('development', function(){
      app.set('db uri', 'localhost/dev');
    })
    
    //только продакшен
    app.configure('production', function(){
      app.set('db uri', 'n.n.n.n/prod');
    })

  Равносильно следующему:

  +js.
    // все окружения
    app.set('title', 'My Application');

    // только разработка
    if ('development' == app.get('env')) {
      app.set('db uri', 'localhost/dev');
    }
    
    // только продакшен
    if ('production' == app.get('env')) {
      app.set('db uri', 'n.n.n.n/prod');
    }
