section
  h3(id='app.enable') app.enable(name)

  p.
    Устанавливает настройку <code>name</code> в <code>true</code>.

  +js.
    app.enable('trust proxy');
    app.get('trust proxy');
    // => true