section
  h3(id='req.files') req.files

  p.
    Это свойство представляет собой объект, содержащий загруженные файлы.
    Этим занимается прослойка <code>bodyParser()</code>, впрочем другие аналогичные
    прослойки тоже могут следовать этому соглашению. Когда используется
    <code>bodyParser()</code>, значением по умолчанию является <code>{}</code>.

  p.
    Например, если файловое поле названо "image", и файл был загружен,
    в <code>req.files.image</code> попадёт такой объект
    класса <code>File</code>:

  +js.
    { size: 74643,
      path: '/tmp/8ef9c52abe857867fd0a4e9a819d1876',
      name: 'edge.png',
      type: 'image/png',
      hash: false,
      lastModifiedDate: Thu Aug 09 2012 20:07:51 GMT-0700 (PDT),
      _writeStream: 
       { path: '/tmp/8ef9c52abe857867fd0a4e9a819d1876',
         fd: 13,
         writable: false,
         flags: 'w',
         encoding: 'binary',
         mode: 438,
         bytesWritten: 74643,
         busy: false,
         _queue: [],
         _open: [Function],
         drainable: true },
      length: [Getter],
      filename: [Getter],
      mime: [Getter] }

  p.
    Прослойка <code>bodyParser()</code> внутри использует
    модуль <a href="https://github.com/felixge/node-formidable">node-formidable</a>
    и принимает те же опции. Например
    опция <code>keepExtensions</code> модуля formidable, по умолчанию <strong>false</strong>,
    которая в данном случае делает имя файла "/tmp/8ef9c52abe857867fd0a4e9a819d1876", без
    расширения ".png". Чтобы включить эту и другие опции, можно передать их в <code>bodyParser()</code>:

  +js.
    app.use(express.bodyParser({ keepExtensions: true, uploadDir: '/my/files' }));