section
  h3(id='res.format') res.format(object)
  
  p.
    Выполняет согласование содержания (content negotiation) для заголовка запроса Accept,
    если таковой имеется. Этот метод использует <code>req.accepted</code>, массив
    приемлемых типов, упорядоченных по качественным коэффициентам, иначе
    вызывается первый коллбек. Если ничего не подошло, сервер отвечает
    кодом 406 "Not Acceptable", или вызывает
    коллбек <code>default</code>.

  p.
    Когда коллбек выбран, устанавливается заголовок ответа Content-Type,
    хотя его можно переопределить с помощью <code>res.set()</code>
    или <code>res.type()</code> и т.д.

  p.
    В следующем примере мы будем отвечать <code>{ "message": "hey" }</code>,
    когда заголовок Accept установлен в "application/json" или "*/json",
    а если он установлен в "*/*", то мы ответим "hey".

  +js.
    res.format({
      'text/plain': function(){
        res.send('hey');
      },
    
      'text/html': function(){
        res.send('<p>hey</p>');
      },
    
      'application/json': function(){
        res.send({ message: 'hey' });
      }
    });

  p.
    Кроме стандартных MIME типов можно также
    использовать краткие имена, так будет
    более читабельно:

  +js.
    res.format({
      text: function(){
        res.send('hey');
      },
    
      html: function(){
        res.send('<p>hey</p>');
      },
    
      json: function(){
        res.send({ message: 'hey' });
      }
    });
  